.feed-container {
    padding: 10px;
}

.mdl-card.mdl-shadow--2dp.feed-container {
    margin-bottom: 10px !important;
}

.feed-container .mdl-card__title-text {
    text-shadow: #000 1px 0 10px;
}

.btn-href {
    text-decoration: none;
    color: rgb(63,81,181);
}


.timeline-item {
    background: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    padding: 12px;

    margin: 0 auto;
    max-width: 472px;
    min-height: 200px;
}
@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.animated-background {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 100%;
    height: 96px;
    position: relative;
}

.background-masker {
    animation-duration: 4.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 100%;
    height: 10px;
    position: relative;
    margin: 5px 0;
}
        