.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mdl-layout__content .p1{
  padding: 20px;
  color: white;
  font-size: 18px;
  background-color: #666;
}

.mdl-layout__content .p2{
  padding: 20px;
  color: white;
  font-size: 18px;
  background-color: #555;
}

.mdl-layout__content .p3{
  padding: 20px;
  color: white;
  font-size: 18px;
  background-color: #444;
}

.mdl-layout__content .p4{
  padding: 20px;
  color: white;
  font-size: 18px;
  background-color: #333;
}

.mdl-layout__content .p5{
  padding: 20px;
  color: white;
  font-size: 18px;
  background-color: #222;
}


.fixed-header {
  width: 100%;
  position: fixed;
  top: 0;
  bottom: auto;
}